<form [formGroup]="scriptForm" (ngSubmit)="onSubmit()" class="form-full-width">
  <table cellspacing="15">
    <tr>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="Script Name" formControlName="name">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="Script Details" formControlName="details">
        </mat-form-field>
      </td>
    </tr>
    <mat-dialog-content>
      <!-- Script Question Array -->
      <tr>
        <table cellspacing="15">
          <tr formArrayName="questions">
            <div *ngFor="let question of questions.controls; let i=index" [formGroupName]="i">
              <td>
                <mat-form-field class="full-width">
                  <input matInput placeholder="Question" formControlName="question">
                </mat-form-field>
              </td>
              <td>
                <button (click)="removeQuestion(i)" type="button" *ngIf="questions.controls.length>1">Delete</button>
              </td>

              <!-- Flags Array -->
              <table cellspacing="15">
                <tr formArrayName="responseFlags">
                  <div *ngFor="let flag of question.controls.responseFlags.controls; let j=index" [formGroupName]="j">
                    <td>
                      <mat-form-field class="full-width">
                        <input matInput placeholder="Name" formControlName="name">
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="full-width">
                        <input matInput placeholder="Abbreviation" formControlName="nameAbbrev">
                      </mat-form-field>
                    </td>
                    <td><button (click)="removeResponseFlag(i, j)" type="button" *ngIf="question.controls.responseFlags.controls.length>1">Delete</button></td>
                  </div>
                </tr>
                <button (click)="addResponseFlag(i)" type="button">add a flag</button>
              </table>
            </div>
          </tr>
          <button (click)="addQuestion()" type="button">add a question</button>
        </table>
      </tr>
    </mat-dialog-content>
  </table>
  <button type="submit">Save</button>
</form>