<form [formGroup]="scriptForm" (ngSubmit)="onSubmit()" class="form-full-width">
  <table cellspacing="15">
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput placeholder="Script Name" formControlName="scriptName">
        </md-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <md-form-field class="full-width">
          <input mdInput placeholder="Script Details" formControlName="scriptDetails">
        </md-form-field>
      </td>
    </tr>
    <md-dialog-content>
      <!-- Script Question Array -->
      <tr>
        <table cellspacing="15">
          <tr formArrayName="scriptQuestions">
            <div *ngFor="let question of scriptQuestions.controls; let i=index" [formGroupName]="i">
              <td>
                <md-form-field class="full-width">
                  <input mdInput placeholder="Question" formControlName="question">
                </md-form-field>
              </td>
              <td>
                <button (click)="removeQuestion(i)" type="button" *ngIf="scriptQuestions.controls.length>1">Delete</button>
              </td>

              <!-- Flags Array -->
              <table cellspacing="15">
                <tr formArrayName="responseFlags">
                  <div *ngFor="let flag of question.controls.responseFlags.controls; let j=index" [formGroupName]="j">
                    <td>
                      <md-form-field class="full-width">
                        <input mdInput placeholder="Name" formControlName="name">
                      </md-form-field>
                    </td>
                    <td>
                      <md-form-field class="full-width">
                        <input mdInput placeholder="Abbreviation" formControlName="nameAbbrev">
                      </md-form-field>
                    </td>
                    <td><button (click)="removeResponseFlag(i, j)" type="button" *ngIf="question.controls.responseFlags.controls.length>1">Delete</button></td>
                  </div>
                </tr>
                <button (click)="addResponseFlag(i)" type="button">add a flag</button>
              </table>
            </div>
          </tr>
          <button (click)="addQuestion()" type="button">add a question</button>
        </table>
      </tr>
    </md-dialog-content>
  </table>
  <button type="submit">Save</button>
</form>