<mat-toolbar>
  <span>{{data.voter.name}}</span>
  <span class="example-spacer"></span>
  <button mat-button><mat-icon (click)="closeDialog()">close</mat-icon></button>  
</mat-toolbar>
<mat-list dense>
 <mat-list-item>
   <h2 matLine>
     <span class="fill-space"><mat-icon>assignment_ind</mat-icon> ID: {{data.voter.voterId}}</span>
     <span class="fill-space"><mat-icon>perm_contact_calendar</mat-icon> Age: {{data.voter.age}}</span>
     <span class="fill-space"><mat-icon>group</mat-icon> Party: {{data.voter.party}}</span>
     <span><mat-icon>markunread_mailbox</mat-icon> VBM: {{data.voter.vbm}}</span>
   </h2>
 </mat-list-item>

 <!-- Phone -->
 <mat-list-item>
    <mat-icon mat-list-icon>phone</mat-icon>
    <h4 mat-line>Phone</h4>
    <p mat-line>{{data.voter.phone}}</p>      
  </mat-list-item> 

  <!-- Address -->
  <mat-list-item>
    <mat-icon mat-list-icon>home</mat-icon>
    <h1 mat-line>Address</h1>    
    <h2 mat-line>{{data.voter.address}}</h2>
    <h3 mat-line>{{data.voter.cityStateZip}}</h3>
  </mat-list-item>

  <mat-divider></mat-divider>

  <mat-list-item>
    <h2 matLine>
    <span class="fill-space">Orig Reg Date: {{data.voter.origRegDate  | date: 'shortDate'}}</span>
    <span class="fill-space">Recent Reg Date: {{data.voter.recentRegDate  | date: 'shortDate'}}</span>
    </h2>
  </mat-list-item>
  <mat-list-item>
    <h2 matLine>
    <span class="fill-space">DoB: {{data.voter.dateOfBirth | date: 'shortDate'}}</span>
    <span>Country of Origin: {{data.voter.originCountry}}</span>
  </h2>
  </mat-list-item>
  
</mat-list>
