<form [formGroup]="voterSearchForm" (ngSubmit)="onSubmit()">
  <table cellspacing="15">
    <tr>
      <td>
        <mat-form-field>
          <input matInput placeholder="First Name" formControlName="firstName">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="Middle Name" formControlName="middleName">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="Last Name" formControlName="lastName">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="Voter ID" formControlName="voterId">
        </mat-form-field>
      </td>
    </tr>
  </table>
  <table cellspacing="15">
    <tr>
      <td>
        <mat-form-field>
          <input matInput placeholder="Party" formControlName="party">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="County" formControlName="county">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Date Of Birth" formControlName="dateOfBirth">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      </td>
    </tr>
  </table>
  <table cellspacing="15">
    <tr>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="address1">
      </mat-form-field>
    </tr>
    <tr>
      <mat-form-field>
        <input matInput placeholder="Address 2" formControlName="address2">
      </mat-form-field>
    </tr>
  </table>
  <table cellspacing="15">
    <tr>
      <td>
        <mat-form-field>
          <input matInput placeholder="City" formControlName="city">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="State" formControlName="state">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput #postalCode maxLength="5" placeholder="Zip Code" formControlName="postalCode">
          <mat-hint align="end">{{postalCode.value.length}}/5</mat-hint>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <table cellspacing="15">
    <tr>
      <td>
        <button mat-raised-button type="reset" [disabled]="voterSearchForm.pristine" (click)="revert()">Clear</button>
        <button mat-raised-button type="submit" [disabled]="voterSearchForm.pristine">Submit</button>
      </td>
    </tr>
  </table>
</form>