<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
      <!-- Script Name -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.scriptName}}</mat-cell>
      </ng-container>
  
      <!-- Script Details -->
      <ng-container matColumnDef="details">
        <mat-header-cell *matHeaderCellDef>Script Detail</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.scriptDetails}}</mat-cell>
      </ng-container>
  
      <!-- # of Script Questions -->
      <ng-container matColumnDef="amountOfQuestions">
        <mat-header-cell *matHeaderCellDef>Amount of Questions</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.scriptQuestions.length}}</mat-cell>
      </ng-container>
  
      <!-- Created By -->
      <ng-container matColumnDef="createdBy">
        <mat-header-cell *matHeaderCellDef>Created By</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.createdBy.name}}</mat-cell>
      </ng-container>
  
      <!-- Script Name -->
      <ng-container matColumnDef="createdOn">
        <mat-header-cell *matHeaderCellDef>Created On</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.creationDate | date: 'shortDate'}}</mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row" (click)="selectScript(row)"></mat-row>
  
    </mat-table>
    <button mat-fab color="accent" class="custom-button" aria-label="Add a script" (click)="addScript()">
      <mat-icon>add</mat-icon>
  </button>
  </div>